* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    font-size: 1.3;
}
body, html {
    height: 100%;
    width: 100%;
}



.hero {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.274), rgba(0, 0, 0, 0.555)), url("../images/FJmSwQOVkAIoAB9.png");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} 

.hero-text {
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
}
#about-me {

    margin-top: 3%;
    /* margin-left: 25%; */
    text-align: center;
    /* height: 50%;
    width: 50%; */
    float: left;
}

/* #my-work {

        display: grid;
        grid-template-areas:
          'Tall Short1'
          'Tall Short2';
        grid-gap: 10px;
        background-color: cyan;
        padding: 10px;
        margin: 0px;
        max-height: 100%;
      
} */
.cardContainer {
    display: inline-flex;
    /* display: inline-block; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex-wrap: wrap;
    flex: 1 1 33%;
    max-width: 33%;
    margin: 0 auto;
    
    
}

.cardContainer:hover {
    box-shadow: 0 4px 8px 0 cyan;
}

.cyan {
    background-color: cyan;
}

.heroBtn {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}